.bg-image
{
    background-image: linear-gradient(rgba(52, 58, 64, 0.7), rgba(0, 0, 0, 0.7)), url('backgroundImage.png');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-element
{
    opacity: 0;
}

#navbar
{
    transition: 0.5s;
}

.logo
{
    transition: 0.5s;
}

.sobreMi-element
{
    transition: 0.7s;
}

.btn 
{
transition: 0.1s;
}

.span-font-weight-bold
{
    font-weight: bolder;
}

#sobreMi
{
    background-color: rgba(0, 0, 0, 0.8);
}
 
.card
{
    opacity: 0;
}